:root{
     /* Blue Color */
     --first-color: #fff;
     --first-color-dark: #5390d9;
     --first-color-darken: #fff;
     --text-color: #56cfe1;
     --first-color-light: #fff;
     --first-color-lighten: #5e60ce;
}