:root{
     /* Blue Color */
     --first-color: #0b0c10;
     --first-color-dark: #a6e6f2;
     --first-color-darken: #c5c6c7;
     --text-color: #d4d6da;
     --first-color-light: #0096c7;
     --first-color-lighten: #023e8a;
}