:root{
    /* Green Color */
    --first-color: #034918;
    --first-color-dark: #7ce696;
    --first-color-darken: #0c4e03;
    --text-color: rgb(2, 78, 7);
    --first-color-light: #6fb44c;
    --first-color-lighten: #fff;
}