:root{
    /* Purple Color */
    --first-color: #7209b7;
    --first-color-dark: #6008c5;
    --first-color-darken: #3a0ca3;
    --text-color: #013672;
    --first-color-light: #a854d8;
    --first-color-lighten: #e9c4ff;
}