/* ========================== GOGGLE FONT ==========================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ========================== CSS VARIABEL ==========================*/
:root {
    --header-height: 3rem;
    --nav-width: 324px;

    /* === Color === */
    --first-color: #cc4b2c;
    --first-color-dark: #662616;
    --first-color-darken: #290f09;
    --text-color: #54423d;
    --first-color-light: #eae7e6;
    --first-color-lighten: #fffafa;

    /* font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* font and typografi */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /* margin */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /* z-index */
    --z-fixed: 100;

}

/* mobile */
@media screen and (min-width: 768px) {
    :root {
        /* font and typografi */
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* ========================== RESET ==========================*/
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3,
p {
    margin: 0;
}

h3 {
    font-weight: var(--font-semi-bold);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

textarea {
    resize: none;
}

/* ========================== PRELOADER ==========================*/
.preloader-container {
    position: fixed;
    width: 100%;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #000;
    z-index: 999999;
}

.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: #000;
    filter: blur(10px) contrast(20);
}

.circle-1,
.circle-2 {
    width: 40px;
    height: 40px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
}

.circle-1 {
    animation: circle-left 2s ease infinite;
}

.circle-2 {
    animation: circle-right 2s ease infinite;
    background: yellow;
}

@keyframes circle-left {
    0% {
        left: 28%;
    }

    50% {
        left: 43%;
    }

    100% {
        left: 28%;
    }
}

@keyframes circle-right {
    0% {
        left: 58%;
    }

    50% {
        left: 43%;
    }

    100% {
        left: 58%;
    }
}

/* ========================== CLASS CSS ==========================*/
.section {
    padding: 4rem 0 2rem;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
    text-align: center;
}

.section-subtitle {
    display: block;
    text-align: center;
    font-size: var(--small-font-size);
    color: var(--first-color-darken);
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
}

/* ========================== LAYOUT ==========================*/
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

/* ========================== NAVBAR ==========================*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    background-color: var(--first-color);
    transition: .5s;
}

.nav-list {
    width: 100%;
}

.nav-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--first-color-dark);
    cursor: pointer;
}

.nav-item {
    margin-bottom: var(--mb-4);
}

.nav-link {
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--first-color-lighten);
    font-weight: var(--font-bold);
    transition: .3s;
}

.nav-link:hover {
    color: var(--text-color);
}

a.nav-link svg {
    margin-right: var(--mb-2);
}

.nav-toggle {
    color: var(--first-color-dark);
    font-size: 1.3rem;
}

/* === Theme ===*/
.theme {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.theme-title {
    font-size: var(--h3-font-size);
    color: var(--first-color-lighten);
    margin-bottom: var(--mb-2);
}

.theme-title svg {
    margin-right: var(--mb-2);
}

.theme-color {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid white;
    margin-bottom: var(--mb-1);
}

.default {
    background-color: rgb(185, 11, 11);
}

.blue {
    background-color: #2677c4;
}

.dark-blue {
    background-color: #001f54;
}

.green {
    background-color: #329c4d;
}

.purple {
    background-color: #560bad;
}

/* ========== SHOW ==========*/
.show {
    left: 0;
}

/* ========== ACTIVE ==========*/
.nav-active {
    color: var(--text-color);
}

/* ========================== HOME ==========================*/
.home-container {
    height: calc(100vh - var(--header-height));
    align-items: center;
}

.home-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
}

.home-img {
    padding-top: 1.3rem;
    padding-left: .8rem;
    width: 160px;
    height: 160px;
    background-color: var(--first-color);
    border-radius: 50%;
    margin-bottom: var(--mb-2);
    overflow: hidden;
}

.home-img img {
    transform: translate(-5%, -5%);
    width: 155px;
}

.home-title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}

.home-profession {
    font-size: var(--small-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-5);
}

.home-social {
    margin-bottom: 5rem;
}

.home-social-link {
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
}

.home-social-link:hover {
    background-color: var(--first-color-dark);
}

.home-button {
    width: 100%;
}

/* Button */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    transition: .3s;
}

.button:hover {
    background-color: var(--first-color-dark);
}

.button-light {
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}

.button-light:hover {
    color: var(--first-color-lighten);
}

/* ========================== ABOUT ==========================*/
.about-container {
    row-gap: 2rem;
}

.about-data {
    text-align: center;
}

.about-description {
    margin-bottom: var(--mb-4);
}

.about-img {
    width: 250px;
    border-radius: .5rem;
    margin: 0 auto;
}

.about-information {
    margin-bottom: var(--mb-4);
}

.about-information-title {
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}

.about-information-data {
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    margin-bottom: var(--mb-3);
}

.about-information-icon {
    font-size: 1.5rem;
    color: var(--first-color);
    margin-right: var(--mb-4);
}

.about-information-subtitle {
    display: block;
    font-weight: var(--font-semi-bold);
}

.about-information-subtitle-small {
    font-size: var(--small-font-size);
}

/* ========================== SKILLS ==========================*/
.skills-container {
    row-gap: 2rem;
}

.skills-subtitle {
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}

.skills-data {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--mb-4);
}

.skills-name {
    text-transform: uppercase;
    margin-bottom: var(--mb-3);
}

.skills-bar {
    position: absolute;
    top: 2rem;
    height: .25rem;
    background-color: var(--first-color);
    border-radius: .125rem;
}

/* ========================== SERVICES ==========================*/
.services-container {
    row-gap: 2rem;
}

.services-content {
    padding: 1.5rem .5rem;
    border: 2px solid var(--first-color);
    border-radius: .5rem;
    text-align: center;
}

.services-icon {
    font-size: 2rem;
    padding: .5rem;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    border-radius: 50%;
}

.services-title {
    font-size: 1.25rem;
    color: var(--first-color-dark);
    margin-bottom: var(--mb-1);
}

.services-content,
.services-icon,
.services-description,
.services-title {
    transition: .5s;
}

.services-content:hover {
    background-color: var(--first-color);
}

.services-content:hover .services-title {
    color: var(--first-color-lighten);
}

.services-content:hover .services-description {
    color: var(--first-color-lighten);
}

.services-content:hover .services-icon {
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}

/* ========================== PROJECT ==========================*/
.project-container {
    row-gap: 2rem;
}

.project-filter-container {
    display: flex;
    margin-left: 2rem;
    /* justify-content: space-evenly; */
    margin-bottom: var(--mb-2);
}

.project-filter-list {
    background-color: var(--first-color);
    margin-right: var(--mb-2);
    color: var(--first-color-lighten);
    border-radius: .75rem;
    border: none;
    padding: .25rem .7rem;
    cursor: pointer;
}

.project-filter-list:active,
.project-filter-list:hover {
    background-color: var(--first-color-dark);
    color: var(--first-color-light);
}

.project-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.project-list img {
    width: 200px;
    margin-bottom: var(--mb-2);
    border-radius: 10px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, .1);
}

/* ========================== CONTACT ==========================*/
.contact-container {
    row-gap: 2rem;
}

.contact-input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    background-color: var(--first-color-light);
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-2);
    border-radius: .5rem;
}

.contact::placeholder {
    color: var(--first-color-dark);
    font-family: var(--body-font);
    font-weight: var(--font-medium);
}

.contact-button {
    outline: none;
    border: none;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    cursor: pointer;
    margin-bottom: var(--mb-5);
}

.contact-info {
    margin-bottom: var(--mb-3);
}

.contact-subtitle {
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-1);
}

.contact-text {
    display: block;
    padding-left: 1rem;
}

/* ========================== FOOTER ==========================*/
.footer {
    background-color: var(--first-color-darken);
    color: var(--first-color-lighten);
    text-align: center;
}

.footer-title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2);
}

.footer-description {
    padding: 0 5rem;
    margin-bottom: var(--mb-2);
}

.footer-social {
    margin-bottom: 3rem;
}

.footer-link {
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 1.1rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}

.footer-link:hover {
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}

.footer-copy {
    font-size: var(--smaller-font-size);
    color: var(--first-color-lighten);
}

.footer-copy svg {
    margin-right: var(--mb-1);
}

/* ========================== MEDIA QUERY ==========================*/
@media screen and (min-width: 768px) {

    /* === NAVBAR ===*/
    .nav-menu {
        width: var(--nav-width);
    }

    /* === CONTAINER ===*/
    .about-container,
    .skills-container,
    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* === HOME ===*/
    .home-button {
        width: initial;
    }

    /* === ABOUT ===*/
    .about-data {
        text-align: left;
    }

    .about-description {
        margin-bottom: var(--mb-5);
    }

    .about-img {
        width: 220px;
    }

    .about-information {
        padding-left: 4rem;
    }

    /* === PROJECT ===*/
    .project-list img {
        width: 300px;
    }

    /* === CONTACT ===*/
    .contact-form {
        display: grid;
        column-gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-info {
        padding-left: 3rem;
    }

    /* === FOOTER ===*/
    .footer {
        background: none;
    }

    .footer-container {
        background-color: var(--first-color-darken);
        padding: 3rem 0;
        border-radius: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        margin: 0;
        padding-left: var(--nav-width);
    }

    .l-header {
        width: 0;
    }

    .nav-toggle,
    .nav-logo,
    .nav-close {
        display: none;
    }

    .nav-menu {
        left: 0;
    }

    .home-container {
        height: 100vh;
    }

    .section {
        padding: 3rem;
    }

    .bd-grid {
        margin: 0 auto;
    }

    .about-container,
    .skills-container,
    .services-container,
    .contact-container {
        margin-top: var(--mb-1);
        padding-top: 5%;
    }
}

@media screen and (min-width: 1400px) {
    .services-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
